@use 'color';

.toggle{
    display: flex;
    gap: 8px;
    cursor: pointer;

    .input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    label {
        cursor: pointer;
    }

    .mask {
        cursor: pointer;
        background-color: color.$text;
        border:1px solid gray;
        transition: background-color 0.5s ease;
        width: 36px;
        border-radius: 8px;
        display: flex;
        align-items: center;

        &.checked {
            background-color: greenyellow;
        }

        .switch {
            background: white;
            height: 20px;
            width: 20px;
            max-height: 16px;
            border-radius: 8px;
            transform: translateX(0);
            transition: all 0.5s ease;
            font-size: 10px;
            line-height: 16px;
            text-align: center;
            color: black;

            &.checked {
                transform: translateX(16px);
            }
        }
    }
}