@use 'color';

.main {
    background-color: color.$background;
    background-image: linear-gradient(
        180deg,
        hsl(238deg 26% 19%) 0%,
        hsl(238deg 36% 18%) 20%,
        hsl(237deg 46% 18%) 40%,
        hsl(236deg 59% 17%) 60%,
        hsl(235deg 77% 15%) 80%,
        hsl(237deg 94% 14%) 100%
);
    color: color.$text;
    width: 100vw;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        min-width: 400px;
        position: relative;
        overflow-x: hidden;
        
        .post {
            max-width: 780px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 12px;
            padding: 0 20px;
            
            
            .content {
                transform: scale(1);
                transition: all 0.5s ease;
                padding: 8px 20px;
                background: rgba( 6, 20, 70, 0.65 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 0px );
                -webkit-backdrop-filter: blur( 0px );
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                
                &:hover {
                    transform: scale(1.05);
                    border-radius: 16px;
                }
            }

            .title {
                color: color.$white;
                text-align: center;
                display: block;
                z-index: 1;
            }
            h1 {
                display: inline-block;
            }

            p {
                color: color.$white;
                display: inline-block;
            }

            .author,
            .date {
                align-self: end;
                z-index: 1;
            }
        }
    }
}